.centered-list {
  list-style: none;
  padding: 0;
}

.centered-list li {
  display: block;
  margin: 0 10px; /* Adjust this margin as needed */
}

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
} */